<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <%= link_to(potepan_product_path(product.id)) do %>
      <div class="productImage clearfix">
        <% if product.images.blank? %>
          <%= image_tag('noimage/product.png') %>
        <% else %>
          <%= image_tag(product.display_image.url(:product)) %>
        <% end %>
      </div>
        <h5><%= product.name %></h5>
        <div class="productCaption clearfix">
          <h3><%= product.display_price %></h3>
        </div>
    <% end %>
  </div>
</div>
