<li>
  <a href="javascript:;" data-toggle="collapse" data-target="#<%= taxonomy.name %>">
    <%= taxonomy.name %><i class="fa fa-plus"></i>
  </a>
  <ul id="<%= taxonomy.name %>" class="collapse collapseItem">
    <% taxonomy.root.leaves.each do |taxon| %>
      <li>
        <%= link_to potepan_category_path(taxon.id) do %>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <%= "#{taxon.name} (#{taxon.all_products.count})" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
