<% provide(:title, @taxon.name) %>
<%= render 'category_header', taxon: @taxon %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories_panel', taxonomies: @taxonomies %>
        <%= render 'colors_panel' %>
        <%= render 'sizes_panel' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'product_filter' %>
        <div class="row">
          <%= render(partial: 'product', collection: @products) %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'partner_logo_slider' %>
