<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox">
    <%= link_to(potepan_product_path(associated_product.id)) do %>
      <div class="productImage clearfix">
        <% if associated_product.images.blank? %>
          <%= image_tag('noimage/product.png') %>
        <% else %>
          <%= image_tag(associated_product.display_image.url(:product)) %>
        <% end %>
      </div>
      <h5><%= associated_product.name %></h5>
      <div class="productCaption clearfix">
        <h3><%= associated_product.display_price %></h3>
      </div>
    <% end %>
  </div>
</div>
