<div class="media-left productSlider">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% if product.images.blank? %>
        <div class="item active" data-thumb="0">
          <%= image_tag('noimage/large.png') %>
        </div>
      <% else %>
        <% product.images.each_with_index do |image, idx| %>
          <div class="item <%= 'active' if idx.zero? %>" data-thumb="<%= idx %>">
            <%= image_tag(image.url(:large)) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clearfix">
    <div id="thumbcarousel" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <% if product.images.blank? %>
          <div data-target="#carousel" data-slide-to="0" class="thumb">
            <%= image_tag('noimage/small.png') %>
          </div>
        <% else %>
          <% product.images.each_with_index do |image, idx| %>
            <div data-target="#carousel" data-slide-to="<%= idx %>" class="thumb">
              <%= image_tag(image.url(:small)) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
