<%= provide(:title, @product.name) %>
<%= render 'light_section', product: @product %>
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'product_images', product: @product %>
          <%= render 'product_info', product: @product %>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: 'associated_product', collection: @associated_products %>
    </div>
  </div>
</section>
